.nav-link {
	color: rgba(129, 129, 129, 0.7);
	font-weight: 400;
	font-size: large;
	opacity: 0.5;
}

.nav-link:hover {
	border-bottom-color: rgba(0, 0, 0, 0.7);
	color: rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.navbar-link {
	display: flex;
	flex-direction: column;
	align-content: space-between;

}