body {
	height: 100vh;
	background-color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7)),
		url("/pictures/portrait6.jpg");
	background-size: cover;
	background-position: center;
}

.cover-container {
	max-width: 60vw;
}

.nav-link {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 400;
	font-size: large;
	margin-left: 2rem;
	border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
	border-bottom-color: rgba(255, 255, 255, 0.7);
	color: rgba(255, 255, 255, 0.7);
}

.title-font {
	text-align: center;
	/* font-family: 'Edu QLD Beginner', cursive; */
}