<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col col-6-sm offset-3-sm mt-5">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading text-center"><%=err.message%></h4>
      <p><%=err.stack%></p>
      <hr />
      <p class="mb-0">let jasmine know!</p>
    </div>
  </div>
</div>
