<link rel="stylesheet" href="/stylesheets/header.css" />

<nav class="navbar navbar-expand-sm sticky-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse navbar-link"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <% if(!currentUser){ %>

        <li class="nav-item">
          <a
            class="nav-link active"
            id="login-button"
            aria-current="page"
            href="/login"
            >login</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register"
            >Register</a
          >
        </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout"
            >Logout</a
          >
        </li>

        <%}%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/gallery"
            >Gallery</a
          >
        </li>
        <% if(currentUser && currentUser.admin){%>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/gallery/new"
            >Upload</a
          >
        </li>
        <%} %>
      </ul>
    </div>
  </div>
</nav>
