<% layout('layouts/boilerplate')%>
	<div class="container d-flex mt-5 justify-content-center align-items-center">
		<div class="row">
			<!-- <div class="col-md-3 offset-md-3 col-xl-4 offset-xl-4"> -->
			<div class="card shadow">
				<div class="card-body">
					<div class="card-title">
						<h5 class="text-center">Register</h5>
					</div>
					<form action="/register" class="validated-form" method="POST" novalidate>
						<div class="mb-3">
							<label for="username" class="form-label">Username</label>
							<input class="form-control" type="text" name="username" id="username" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input class="form-control" type="email" name="email" id="email" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Password</label>
							<input class="form-control" type="password" name="password" id="password" required>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<button class="btn btn-secondary">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>