<% layout('layouts/boilerplate')%>
<div class="container d-flex mt-5 justify-content-center">
  <div class="row">
    <!-- <div class="col-md-6 offset-md-3"> -->
    <div class="card shadow">
      <div class="card-body">
        <div class="card-title">
          <h5 class="text-center">Login</h5>
        </div>
        <form action="/login" class="validated-form" method="POST" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              class="form-control"
              type="text"
              name="username"
              id="username"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              class="form-control"
              type="password"
              name="password"
              id="password"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <button class="btn btn-secondary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
